<header class="main">
  <a href="/">👋 hello dev!</a>
</header>

<style lang="scss">
  .main {
    text-align: center;
    padding: 25px 0;

    a {
      font-size: 19px;
      color: #222;
      text-decoration: none;
      font-weight: bold;
    }
  }
</style>
